body {
  font-family: Arial, Helvetica, sans-serif;
}

.logo {
  width: 300px;
}

.logo-text {
  font-family: Pacifico;
  font-size: 24pt;
  color: white;
}

.call-to-action-header {
  font-family: Pacifico;
  font-size: 48pt;
  color: white;
}

.call-to-action-body {
  font-family: Pacifico;
  font-size: 38pt;
  color: white;
}

.content {
  font-size: 14pt;
}

@font-face {
  font-family: "Pacifico";
  src: url("style/fonts/Pacifico-Regular.ttf");
  src: url("style/fonts/Pacifico-Regular.eot");
}
